ul{
    list-style-type: bullets;
    margin: 0;
    padding: 8px 16px;
    body {
        background-color: white;
      }
      
      h1 {
        color: black;
        text-align: center;
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }
}