ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.83);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}

h1 {
  color: black;
  text-align: left;
  font-size: 40px;
}

h2 {
  color: black;
  text-align: left;
  font-size: 30px;
}

body {
  background-color:rgb(255, 255, 255);
}